/*
 *
 * MMM-DailyPokemon
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

@font-face {
	font-family: pokegb;
	src: url(fonts/pokemon_font.ttf);
	}
 
#poke-wrapper {
	margin-left: auto;
	margin-right: auto;
	/*position: relative;
	bottom: 30px;
	top: 0px;*/
}

#flex-wrapper div {
	width: 100%;
}

#flex-wrapper {
	display: flex;
	align-content: center;
}

#poke-name {
	border-bottom: 1px solid white;
	color: white;
	text-align: center;
	margin-bottom: 30px;
}

#poke-subname {
	text-align: center;
	font-size: 0.6em;
	margin-top: -20px;
}

#poke-pic {
	width: 100px;
	height: auto;
}

#poke-pic-grayscale {
	position: relative;
	bottom: 50px;
	width: 200px;
	height: auto;
	filter: grayscale(100%);
}

#poke-pic-grayscale-type {
	position: relative;
	bottom: 100px;
	width: 50px;
	height: auto;
	filter: grayscale(100%);
}

#poke-types {
	padding: 0px;
}

#poke-types p{
	text-decoration: none;
	display: inline-block;
	margin-right: 3px;
	padding: 0px;
}

#poke-wrapper table {
	line-height: 1em;
}

#poke-wrapper #poke-info{
	text-align: center;
}
#poke-wrapper table tr td {
	font-size: 12pt;
	padding: 0px;
	text-transform: capitalize;
}

#poke-table-name {
	color: DDD;
	font-weight: 800;
	text-align: left;
}
